#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}
	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

/** DEBUG **/

#debug {
	position: fixed;
	top: 1em;
	left: 1em;
	}
	#debug::after {
	content: " Show Debug";
	margin-left: 1.5em;
	color: white;
	white-space: nowrap;
	}

	#debug:checked ~ #main {
	--outline-width: 1px;
}


/** PAGE STYLING **/
* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#main {
	width: 80vw;
	height: 100%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content1{
	padding: 60px;
}
.card__content > div {
	
	grid-area: text;
	width: 85%;
	place-self: center;
	text-align: left;
	display: grid;
	gap: 1em;
	place-items: start;
}

.need-container{
	position: relative;
	width: 400px;
	margin: auto;
}

.need-pitch{
	position: relative;
	margin-left: 15%;
	margin-bottom: 5%;
}

.need-previsionnel{
	position: relative;
	margin-bottom: 7%;
	margin-left: 8%;
}

.paragraph{
	text-align: justify;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.advantage {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
}

.offer{
	width: 280px;
	margin: 15px 0px;
	margin: auto;
	position: relative;
}

.offer-icon{
	width: 65px;
	height: 63px;
	/* color: #541010; */
}

.offer-detail{
	width: 250px;
	text-align: center;
}

.help{
	margin-left: 15%;
	margin-bottom: 6.5em;
}

.card_title{
	margin-top: 40px;
	font-size: 1.43em;
}

.paragraph {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.20;
}

.btn {
	background: #D4EFDF ;
	color: rgb(255 255 255);
	text-decoration: none;
	font-size: 15px;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

@media only screen and (max-width: 1550px) and (min-width: 1400px) {
	.offer{
		position: relative;
		width: 16vw;
		margin: auto;
	}
	.paragraph{
		font-size: 12px;
	}
	.offer-detail{
		width: 16vw;
	}
}

@media only screen and (max-width: 1400px){
	.card__content{
			display: block;
			width: 70vw;
			height: 100%;
			margin: auto;
	}
	.card__content p{
		font-size: 40px;
	}
	.upper_container{
		width: 80vw;
		margin: auto;
	}
	.offer-detail{
		width: 80%;
		font-size: 15.4px !important;
	}
	.need-pitch{
		margin: auto;
	}
	.card__content > div {
		width: 60vw;
		margin: auto;
	}
	.help{
		width: 35%;
		margin: auto;
	}
	.paragraph__container{
		margin: 5% 0%;
	}
	.card__content > figure{
		margin: auto;
	}
	.first__figure{
		width: 60vw;
	}
	.image__figure{
		width: 100%;
		height: 64%;
	}
	.advantage{
		width: 60vw;
		position: relative;
		margin: 30px auto;
		background-color: #ECF0F1;
		border-radius: 3%;
		padding: 3%;
	}
	.offer{
		margin: auto;
		width: 15vw;
	}
	.need-container{
		position: relative;
		margin: auto;
	}
	.offre{
		width: 98%;
		font-size: 2.4vw;
		margin: 3% auto;
	}
	.need-pitch{
		position: relative;
		margin: auto;
		width: 250px;
	}
	.need-previsionnel{
		position: relative;
		margin: auto;
		max-width: 340px;
	}
	.need-container{
		width: 40vw;
		margin-bottom: 40px;
	}
	.offer-icon{
		width: 55px;
	}
	.card__content > figure > img{
		width: 100%;
	}
	.paragraph{
		margin: auto;
	}
	.paragraph__other__style{
		width: 90%;
	}
}

@media only screen and (max-width: 768px) {
	.card__content{
		width: 100%;
	}
	.card__content > div {
		width: 100%;
	}
	.card__content > figure{ 
		width: 100%;
	}
	.card__content1{
		padding: 5px;
	}
	.card_title{
		font-size: 1.3em;
		margin-left: 16px;
		margin-top: 15px;
	}
	.offre {
		width: 90%;
		font-size: 4.7vw;
		margin: 3% auto;
	}
	.offer{
		width: 50%;
	}
	.offer-icon{
		width: 50px;
	}
	.offer-detail{
		width: 80%;
		font-size: 14px !important;
	}
	.paragraph{
		margin: auto;
		width: 90%;
	}
}

@media only screen and (max-width: 440px) {
	body {
		text-align: center;
	}
	#main {
		margin-top: -470px !important;
	}
	#cards {
		display: block;
		margin-top: -42vh;
	}
	
	
	.btn{
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.need-container{
		width: 100%;
	}
	.help{
		width: 55%;
	}
	.paragraph{
		font-size: .75em !important;
		width: 60vw;
	}
	.offer-detail{
		width: 90%;
		font-size: 12px !important;
	}
	.paragraph__other__style{
		position: relative;
		width: 70vw;
		margin: 0 15px;
	}
	.need-previsionnel{
		width: 60vw;
	}
	.need-pitch{
		width: 200px;
	}
}

@media only screen and (max-width: 320px) {
	#main {
		margin-top: -350px !important;
	}
}