<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media only screen and (max-width: 2560px) and (min-width: 1800px){
        height: 84vh;
        }
        @media only screen and (max-width: 1800px) and (min-width: 1440px){
            height: 75vh;
        }
        @media only screen and (max-width: 1024px) and (min-width: 900px){
            height: 100vh;
        }
        @media only screen and (max-width: 425px) and (min-width: 320px){
            height: 115vh;
        }
    </style>
</head>
<body>
    <form action="" method="get"></form>
</body>
</html>