







.confirm-sweet-connect{
color: "#4BB543" !important;
font-family: sans-serif !important;
}

.icon-sweet-connect{
    color: '#700b0b' !important;
}












/*

@media only screen and (max-width: 2560px) {
    
}

@media only screen and (max-width: 1440px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 425px) {
    
}

@media only screen and (max-width: 375px) {
    
}

@media only screen and (max-width: 320px) {
    
}*/